body {
    background: url("../imgs/gym2.jpg");
    background-size: cover;
    background-position: center; 
   
}
body,html{
    width: 100%;
    height: 100%;

    
}

.container{
    border-radius: 10px;
}


.item{
    margin-bottom: 20px;
   
   
}
.figure 
{
    position: relative;
    float: left;
    overflow: hidden;
    margin: 1.5em;
}
figcaption{
    
    font-size: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    height: 99%;
    background-color: lightgrey;
    color:black;
    opacity: 0;
}

.productGrid{
    margin-top: 70px;
}