body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}
div {
    color: #505050;
}
span {
    background: #0c0c0c;
    border: 2px solid #505050;
    font-size: 20px;
    word-spacing: 10px;
    letter-spacing: 3px;
}

a {   
    text-decoration: none;
    color:white;
}
a:hover {
   color: #a9a9a9;
}